<div class="card">
  <h2 class="card-title">Perlin Noise</h2>
  <div class="card-control">
    <label class="card-control-label" for="perlin-noise-octaves">Octaves ({{octaves}})</label>
    <input
      class="card-control-input"
      type="range"
      name="perlin-noise-octaves"
      id="perlin-noise-octaves"
      [(ngModel)]="octaves"
      (change)="onChange()"
      [min]="minOctaves"
      [max]="maxOctaves"
    >
  </div>
  <div class="card-control">
    <label class="card-control-label" for="perlin-noise-scale">Scale</label>
    <input class="card-control-input" type="range" name="perlin-noise-scale" id="perlin-noise-scale" value="4" min="1" max="16">
  </div>
  <div class="card-control">
    <label class="card-control-label" for="slider">Octaves</label>
    <input class="card-control-input" type="range" name="perlin-noise-octaves" value="4" min="1" max="16">
  </div>
  <canvas
    class="card-texture-preview"
    #texturePreviewCanvas
    [width]="textureSize"
    [height]="textureSize"
  ></canvas>
</div>
