@use '../../styles' as *;

.cards-connection-arrow {
  position: absolute;
  color: $fg-color;
  pointer-events: none;
}

.cards-connection-arrow-path {
  stroke: red;
  stroke-width: 1.25px;
  fill: none;
  marker-end: url(#arrow);
  z-index: $cards-connection-depth;
}
