<div class="card">
  <h2 class="card-title">Worley Noise</h2>
  <div class="card-control">
    <label class="card-control-label" for="perlin-noise-octaves">Number of points ({{noise.numberOfPoints}})</label>
    <input
      class="card-control-input"
      type="range"
      name="perlin-noise-octaves"
      id="perlin-noise-octaves"
      [(ngModel)]="noise.numberOfPoints"
      (change)="onChange()"
      [min]="minPoints"
      [max]="maxPoints"
    >
  </div>
  <canvas
    class="card-texture-preview"
    #texturePreviewCanvas
    [width]="textureSize"
    [height]="textureSize"
  ></canvas>
</div>
