<div
  class="editor"
  #editor
  (mousemove)="onMouseMove($event)"
  (mouseup)="onMouseUp($event)"
  (mouseleave)="onMouseUp($event)"
  (mousedown)="onMouseDown($event)"
  (wheel)="onScroll($event)"
>
  <div
    #editArea
    class="edit-area"
    style="
    transform-origin: top left;
      transform:
        translate({{panningData.editAreaPosition.x}}px, {{panningData.editAreaPosition.y}}px)
        scale({{scale}});
    "
  >
    @for (node of nodes; track node.id) {
      <app-card
        #card
        [cardType]="node.type"
        [position]="node.position"
        [scale]="scale"
        [startConnectionCallback]="onStartConnection"
        [endConnectionCallback]="onEndConnection"
        [updateChildrenOfCallback]="updateChildrenOf"
        [activeCardChangeCallback]="sendCardToTop"></app-card>
    }
  </div>
  @for (connection of connections; track connection) {
    <app-cards-connection
      [from]="connection.from.card.getOutputPos(connection.from.output)"
      [to]="connection.to.card.getInputPos(connection.to.input)"></app-cards-connection>
  }

  @if (startedConnection !== undefined) {
    <app-cards-connection [from]="mousePosStart" [to]="mousePos"></app-cards-connection>
  }

  @if (addCardMenuData.show) {
    <app-add-card-menu [position]="addCardMenuData.position!" [cardTypeSelectedCallback]="onAddCardMenuSelect"></app-add-card-menu>
  }
</div>
