/* You can add global styles to this file, and also import other style files */

$fg-color: #dddddd;
$fg-color-disabled: #484848;
$bg-color: #252525;
$bg-hole-color: #181818;
$bg-hole-hover-color: #323232;
$bg-hole-active-color: #0a0a0a;
$border-color: #606060;
$border-color-disabled: #383838;
$shadow-color: #202020;
$bg-bg-color: #303030;
$accent-color: #305080;

$border-radius: 0.25rem;

$bg-warning-color: #501818;

$input-color: #eeaa33;
$output-color: #55aa22;

$tooltip-depth: 100;
$pop-up-component-overlay-depth: 80; // used for color picker bg overlay
$pop-up-component-depth: 90; // used for color picker
$cards-connection-depth: 50;
// 10-20 depth is used for cards ordering

html {
  font-family: Arial, Helvetica, sans-serif;
  background: $bg-bg-color;
  color: $fg-color;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.tooltip {
  position: absolute;
  visibility: hidden;
  background: $bg-color;
  color: $fg-color;
  border-radius: $border-radius;
  z-index: $tooltip-depth;
  padding: 0.25rem;
  opacity: 0;
  transition: 0.15s;
  top: 100%;
  right: 100%;
  box-shadow: 0.3rem 0.3rem 0.3rem 0 $shadow-color;
  border: 0.1rem solid $border-color;

  *:hover > & {
    visibility: visible;
    opacity: 1;
    transition: 0.15s;
  }
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  height: 0.2rem;
  background: $bg-hole-color;
}

/* For WebKit-based browsers */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 0.5rem;
  height: 0.5rem;
  border: 0.1rem solid $border-color;
  background: $bg-color;
}

input[type='range'][disabled], input[type='range'][disabled]::-webkit-slider-thumb {
  border-color: $border-color-disabled;
}

input[type='number'][disabled] {
  color: $fg-color-disabled;
}

input[type='range']::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  background: transparent;
}

input[type='range'][orient='vertical'] {
  writing-mode: vertical-lr;
  direction: rtl;
  width: 0.2rem;
  height: 5rem;
  margin: 0.15rem auto;
}

input[type='number'], input[type='text'], button, select {
  margin: 0.15rem;
  color-scheme: dark;
  border-radius: 0.25rem;
  //border: 0.1rem solid $border-color;
  border: 0;
  height: 1rem;
  background: $bg-hole-color;
  color: $fg-color;

  &:focus {
    outline: $border-color solid 0.1rem;
  }
}

button {
  padding: 1px 2px;
  box-sizing: content-box;

  &:hover {
    background: $bg-hole-hover-color;
  }

  &:active {
    background: $bg-hole-active-color;
  }

  &:disabled {
    background: $bg-hole-hover-color;
  }
}

input[type='checkbox'] {
  appearance: none;
  width: 2rem;
  height: 1rem;
  background: $bg-hole-color;
  border-radius: 0.25rem;
  transition: all 0.15s;
}

input[type='checkbox']::after {
  content: "";
  position: absolute;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 0.25rem;
  background: $bg-color;
  border: 0.1rem solid $border-color;
  transition: all 0.15s;
}

input[type='checkbox']:checked {
  background: $accent-color;
  //outline: 0.1rem solid $border-color;
}

input[type='checkbox']:checked:after {
  transform: translate(1rem);
}
