/* You can add global styles to this file, and also import other style files */

$fg-color: #dddddd;
$bg-color: #252525;
$bg-hole-color: #181818;
$border-color: #606060;
$shadow-color: #202020;
$bg-bg-color: #303030;
$accent-color: #305080;

html {
  font-family: Arial, Helvetica, sans-serif;
  background: $bg-bg-color;
  color: $fg-color;
}

